/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Comfortaa", sans-serif;
}

body {
    /* background-color: #fffafc; */

    background-image: url(./imgs/background\ 1.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: rgba(255, 255, 255, 0.93);
    background-blend-mode: overlay;
}

/* BARRA DE NAVEGAÇÃO */
header {
    background-color: #f5bace;
    padding: 15px 0;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 30px;
}

/* nav ul li {
    display: inline-block;
} */

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #884a35;
}

nav img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

main {
    max-width: 100%;
}


.titulo {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    color: #e18aa8;
}


/* MODAL */

/*modal background*/

div.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
}

/*modal conteudo - imagem*/
.modal-conteudo {
    margin: auto;
    display: list-item;
    width: 90%;
    max-width: 1000px;
}

/*animação de zoom no modal*/
div.modal-conteudo {
    animation-name: zoom;
    animation-duration: 0.6s;
}



@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/*botão fechar*/
.fechar1, .fechar2, .fechar3, .fechar4, .fechar5, .fechar6, .fechar7 {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f5bace;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer;
}

.fechar:hover,
.fechar:focus {
    color: #fffafc;
    text-decoration: none;
    cursor: pointer;
}

/*responsividade modal*/
@media only screen and (max-width: 700px){
    div.modal-conteudo {
        width: 100%;
    }
}


/* PRODUTOS */

section#produtos {
    border-radius: 0px 0px 50px 50px;
    min-height: 500px;
    margin-top: -100px;
    padding: 100px 0;
    color: #884a35;   
}

section#produtos h2 {
    font-size: 1.2em;
    margin-top: 15px;
    margin-bottom: 20px;
    color: #884a35;
}


section#produtos ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
}

section#produtos ul li {
    width: 450px;
    text-align: center;
    position: relative;
    margin-bottom: 200px;
}

section#produtos ul li img {
    width: 200px;
    border-radius: 40%;
    border: 3px solid #e18aa8;
    transition: transform 1.1s ease;
    cursor: pointer;
}

section#produtos ul li img:hover {
    transform: scale(1.1);
}

section#produtos ul li div.drop {
    position: absolute;
    background-color: #e18aa8;
    height: 0px;
    width: 100%;
    padding: 2px;
    border-radius: 10px;
    overflow: hidden;

    transition: height 1.5s;
}

section#produtos ul li div.drop p {
    color: #fffafc;
    font-weight: bold;
    font-size: 1.1em;
    text-align: center;
    margin: 10px 0;
}

section#produtos ul li:hover div.drop{
    transition-duration: 1.5s;
    height: 170px; 
}




footer {
    background-color: #884a35;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

footer #bolinho {
    width: 85px;
    padding-top: 50px;
    padding-bottom: 100px;
}

footer a img{
    width: 30px;
    margin: 0 10px;
}

div.botao{
    padding-top: 30px;
    padding-bottom: 30px;
}
.button-54 {
    font-family: "Comfortaa", sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    color: #361b12;
    background-color: #fcedf3;
    cursor: pointer;
    border: 3px solid;
    padding: 0.25em 0.5em;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-54:active {
    box-shadow: 0px 0px 0px 0px;
    top: 5px;
    left: 5px;
  }
  
  @media (min-width: 768px) {
    .button-54 {
      padding: 0.25em 0.75em;
    }
  }


  

/* div.modal-conteudo {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    display: block;
    width: 90%;
    max-width: 1000px;
} */




.fim{
    color: #ffffff;
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}



