/* CORPO INTEIRO DA PÁGINA */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Comfortaa;
}

body {
    background-image: url(./imgs/background\ 1.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: rgba(255, 255, 255, 0.93);
    background-blend-mode: overlay;
    margin: 0;
    font-family: Comfortaa;
}

/* CABEÇALHO DA PÁGINA */
header {
    background-color: #f5bace;
    padding: 15px 0;
    font-family: Comfortaa;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 30px;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #883e35;
}

nav img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

/* Slide-show (Carrossel) */
section.slider {
    margin: 0 auto;
    width: 100%;
    height: auto;
    padding: 0 !important;
    overflow: hidden;
}

.slide-content {
    width: 400%;
    height: auto;
    display: flex;
}

.slide-content input {
    display: none;
}

.slide-box {
    width: 25%;
    height: auto;
    position: relative;
    text-align: center;
    transition: 1s;
}

.slide-box img {
    width: 100%;
}

.nav-manual, .nav-auto {
    position: absolute;
    width: 100%;
    margin-top: 35%;
    display: flex;
    justify-content: center;
}

.nav-manual .manual-btn, .nav-auto div {
    border: 1px solid black;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.23s;
}

.nav-manual .manual-btn:not(:last-child), .nav-auto div:not(:last-child) {
    margin-right: 10px;
}

.nav-manual .manual-btn:hover {
    background-color: black;
}

#radio1:checked ~ .nav-auto .auto-btn1,
#radio2:checked ~ .nav-auto .auto-btn2,
#radio3:checked ~ .nav-auto .auto-btn3 {
    background-color: black;
}

#radio1:checked ~ .primeiro {
    margin-left: 0%;
}

#radio2:checked ~ .primeiro {
    margin-left: -25%;
}

#radio3:checked ~ .primeiro {
    margin-left: -50%;
}

@media screen and (max-width: 900px) {
    img-desktop {
        display: none;
    }
    .nav-auto, .nav-manual {
        margin-top: 60%;
    }
}

#titulo-slide-logo {
    margin-left: 825px;
    font-family: Albert Sans;
}

.logo-slider img {
    width: 100%;
}

.container-logo-slider {
    max-width: 1040px;
    margin: 0 auto;
}

.logo-slider .slick-slide {
    margin: 15px;
}

.slick-dots li.slick-active button::before {
    font-size: 12px;
}

.slick-next::before,
.slick-prev::before {
    color: #ff8159;
    font-size: 24px;
}

.item:hover {
    display: block;
    transition: all ease 0.3s;
    transform: scale(1.1) translateY(-5px);
}

/* SOBRE NÓS */
.sobrenos {
    margin-top: 130px;
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;
}

/* LOCALIZAÇÃO */
.localizacao {
    margin-top: 100px;
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 100px;
}

/* FOOTER (RODAPÉ) */
footer {
    background-color: #884a35;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

footer #bolinho {
    width: 85px;
    padding-top: 50px;
    padding-bottom: 100px;
}

footer a img {
    width: 30px;
    margin: 0 10px;
}

div.botao {
    padding-top: 30px;
    padding-bottom: 30px;
}

.button-54 {
    font-family: "Comfortaa", sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    color: #361b12;
    background-color: #fcedf3;
    cursor: pointer;
    border: 3px solid;
    padding: 0.25em 0.5em;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-54:active {
    box-shadow: 0px 0px 0px 0px;
    top: 5px;
    left: 5px;
}

@media (min-width: 768px) {
    .button-54 {
        padding: 0.25em 0.75em;
    }
}

.fim {
    color: #ffffff;
}

@keyframes zoom {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}