
/* cabeçalho */


body {
    margin: 0;
    font-family: "Comfortaa", sans-serif;
}

header {
    background-color: #f5bace;
    padding: 15px 0;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 30px;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #883e35;
}

nav img {
    width: 120px;
     
}
.logo {
    width: 120px; 
}



/* div de Trabalhe Conosco */


.trabalheconosco {
    justify-content: center;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    background-image: url('./imgs/bgTC.png'); 
}


.titulo-div {
    color: #b35577;
    border: solid 3px #DB8CA9;
    font-size: 20pt;
    border-radius: 20pt;
    padding: 10px;
    width: 400px;
    margin-top: 60px;
    margin-bottom: 40px;
    justify-self: center;
 
}


/* div de cargos */

.trabalhedivs {
    margin-bottom: 50px;
    display: grid;  
    grid-gap: 0px;
    grid-column: 50px;
    grid-template-columns: repeat(auto-fit, 500px);
    grid-template-rows: repeat(0, 800px);
    justify-content: center;
    height: 600px;

}

.trabalhe-div {
    width: 400px;
    height: 600px;
    background-color: #DB8CA9;
    margin-top: 3%;
    color: white;
    font-size: 15pt;
    border-radius: 20pt;
    border: solid 3px #b35577;
    padding: 2%;
    transition: 0.3s; 
    
}

.trabalhe-div:hover {
    box-shadow: 0 0 20px #b3b3b3;
}


/* PopUp */



.inscrevase {
    padding: 10px;
}

.inscrevase-txt {
    color: #b35577;
    font-size: 15pt;

}

.btn-inscrevase {
    padding: 30px;
    color: #b35577;
    background-color: white;
    font-size: 20pt;
    border-radius: 40pt;
    border: solid 3px #b35577;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
    transition: .3s;
    
}

.btn-inscrevase:hover {
    background-color: #c27a94;
    color: white;
}

.popup-wrapper {
    display: none;
    background: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.popup {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    width: 80%;
    max-width: 600px;
    height: 400px;
    max-height: 800px;
    margin: 10% auto;
    padding: 20px;
    background: white;
    position: relative;
    color: #b35577;
    border-radius: 20px;
    border: 2px solid #DEA7B9;
    background-color: #FEF4F7;

}

.popup a {
    cursor: pointer;
    padding: 6px 10px;
    text-decoration: none;
    background: white;
}

.popup-close {
    position: absolute;
    top: 5px;
    color: #b35577;
    right: 15px;
    cursor: pointer;
}



/* Conteudo do Popup */

.popup-content {
    display: flex;
    
}

.informacoes {
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 5px;
    font-size: 18px;
    
}

.barra-form {
    border-radius: 20px;
    border: 2px solid #DEA7B9;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 80%;
    padding: 6px;;
    outline: none;
    color: #b35577;
    transition: 0.5s;
}

.barra-form:hover {
    border-radius: 20px;
    border: 2px solid #c27a94;
    box-shadow: 0 0 4px #D58DA8;
    
}

.arquivo {
    text-align: left;
    margin-left: 20%;
    font-size: 15pt;
}


.enviar {
    padding: 3%;
    width: 50%;
    color: #c27a94;
    background-color: #c27a94;
    font-size: 15pt;
    border-radius: 10px;
    border: solid 2px #c27a94;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
    transition: 0.5s;
    margin-top: 20px;
    
}

.enviar:hover {
    background-color: #c27a94;
    color: white;
}


/* footer */

footer {
    background-color: #884a35;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

footer #bolinho {
    width: 85px;
    padding-top: 50px;
    padding-bottom: 100px;
}

footer a img{
    width: 30px;
    margin: 0 10px;
}

div.botao{
    padding-top: 30px;
    padding-bottom: 30px;
}
.button-54 {
    font-family: "Comfortaa", sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    color: #361b12;
    background-color: #fcedf3;
    cursor: pointer;
    border: 3px solid;
    padding: 0.25em 0.5em;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-54:active {
    box-shadow: 0px 0px 0px 0px;
    top: 5px;
    left: 5px;
  }
  
  @media (min-width: 768px) {
    .button-54 {
      padding: 0.25em 0.75em;
    }
  }

.fim{
    color: #ffffff;
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}